@media (max-width: 550px) {
    /* header----------------------- */
    header {
        padding: 34px 8px;
    }

    .buttonTxt {
        display: none;
    }

    .user_icon {
        display: flex;
    }

    .login_div {
        height: 32px;
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid #F30AEA;
    }
    .cart_img {
        width: 32px;
        height: 32px;
    }
    /* section 1----------------------------- */
.form_container{
    padding: 48px 6px;
}
.form_title{
    margin-bottom: 40px;
}

    .contact_us_form,
    .name_mail,
    .input_box, 
    .form_container,
    textarea {
        width: 100%;
    }
    .question_title{
        font-size: 14px;
    }
.radio_lable{
    font-size: 14px;
}
textarea{
    margin-bottom: 32px;
}
}