:root{
    --mainfontsize: 16px;
    --fontsize2: 32px;
    --mainfontcolor: white;
    /* inputebshi tetri feri avirchie archanda teqsti imedia shecdoma arari  */
    --radiotitlecolor: #B052B5;
    --checkboxcolor: #F30AEA;
    --bgcolor: #2E0230;
}
.container {
    width: min(100% 1440px);
    margin: auto;

}

/* header-------------- */
header {
    margin: auto;
    display: flex;
    padding: 34px 72px;
    background: var(--bgcolor);
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}
.search_icon {
    display: none;
}

.user_icon {
    display: none;
}

.seachform {
    width: 560px;
    border-radius: 8px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    box-shadow: 0px -2px 5px 0px #F1ACEE;
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.seachbutton {
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: #B052B5;
    height: 48px;
    cursor: pointer;
}

.search {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    width: 100%;
    color: var(--mainfontcolor);
    font-family: 'Inter', sans-serif;
    font-size: var(--mainfontsize);
    font-weight: 400;

    /* es inputis dros tetri border ratomgac ver gavutishe  */
}

.login_div {
    display: flex;
    gap: 8px;
    height: 42px;
}

.login {
    border: none;
    border-radius: 8px;
    border: 1px solid #F30AEA;
    background-color: transparent;
    width: 84px;
}

.buttonTxt {
    color: var(--mainfontcolor);
    font-size: var(--mainfontsize);
}

.cart_img {
    border: none;
    border-radius: 8px;
    background: #F30AEA;
    width: 42px;
}

/* SECTION 1--------------------------------------------- */
.section1 {
    display: flex;
    background-image: url(..//images/cover\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    

}

.form_container {
    display: flex;
    margin-block: 64px;
    flex-direction: column;
    width: 864px;
    height: 770px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(176, 82, 181, 0.79);
    background: rgba(28, 19, 37, 0.80);
    backdrop-filter: blur(5px);
}

.contact_form{
    margin-top: 48px;
}
.contact_us_form {
    width: 464px;
}

.form_title {
    align-self: center;
    height: 26px;
    color: var(--mainfontcolor);
    text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fontsize2);
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4px;
    margin-bottom: 80px;
}

.name_mail {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.input_box {
    display: flex;
    width: 100%;
    padding-left: 22px;
    color: var(--mainfontcolor);
    align-items: center;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #B052B5;
    background-color: transparent;
    color: var(--mainfontcolor);
    font-family: 'Poppins', sans-serif;
    font-size: var(--mainfontsize);
    font-weight: 400;
    line-height: 26px;


}

/* question container ---------------------------------------- */
.question_container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.question_title {
    color: var(--mainfontcolor);
    font-family: 'Poppins', sans-serif;
    font-size: var(--mainfontsize);
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.options_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio_lable {
    color: var(--radiotitlecolor);
    font-family: 'Poppins', sans-serif;
    font-size: var(--mainfontsize);
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: center;
}

.radio_option {
    display: flex;
    gap: 8px;
}

.radio_input {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 2px solid rgba(243, 10, 234, 0.71);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=radio]:checked::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: rgba(243, 10, 234, 0.71);
}

.message_container {
    margin-top: 26px;
}

textarea {
    resize: none;
    display: flex;
    width: 100%;
    height: 112px;
    border-radius: 8px;
    border: 1px solid #B052B5;
    background-color: transparent;
    padding-top: 11px;
    padding-left: 24px;
    margin-bottom: 24px;
    color: var(--mainfontcolor);
    font-family: 'Poppins', sans-serif;
    font-size: var(--mainfontsize);
    font-weight: 400;
    line-height: 26px;
}

.checkboxText {
    color: var(--mainfontcolor);
    font-family: 'Poppins', sans-serif;
    font-size: var(--mainfontsize);
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.checkboxDiv{
    display: flex;
    gap: 8px;
}
#recive {
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #F30AEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
#recive:checked::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: var(--mainfontsize);
    color: var(--checkboxcolor);
}
.send_button{
    border-radius: 16px;
background: var(--checkboxcolor);
height: 64px;
width: 100%;
}
/* var it ratomgac ver shemovitane stilebi da shemdegistvis ufro chavujdebi  */